.albumWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  width: 100%;
  margin-top: 24px;
}
.albumWrapper {
  display: grid;
  gap: 24px;
  width: 100%;
  max-width: 1272px;
  padding-right: 24px;
  padding-left: 24px;
  grid-template-columns: repeat(4, 1fr);
}
.albumContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.albumContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .albumWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
