.desktopArtistWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 36px;
  max-width: 1272px;
  width: 100%;
  padding: 0 24px;
  gap: 6px;
}

.artistCover {
  max-width: 628px;
  width: 100%;
  max-width: 660px;
  height: 100%;
  justify-self: flex-end;
}

.artistCover img {
  width: 100%;
  height: 100%;
}

.overviewContainer {
  display: none;
}

@media screen and (max-width: 768px) {
  .overviewContainer {
    display: block;
    max-width: 1272px;
    width: 100%;
    padding: 0 24px;
  }
  .desktopArtistWrapper {
    display: flex;
    flex-direction: column-reverse;
  }
}
