.musicMiddle img {
  cursor: pointer;
}

.musicMiddle {
  max-width: 1250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .musicMiddle {
    flex-direction: row-reverse;
    gap: 32px;
  }
}

@media screen and (max-width: 767px) {
  .musicMiddle {
    flex-direction: row-reverse;
    width: auto;
    gap: 0;
  }
}
