.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  position: absolute;
  bottom: 0;
  z-index: -1;
  background-color: white;
}

.container {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: end;
  height: 100%;
}
