.wrapper {
  max-width: 257px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
}

.container img {
  width: 100%;
}

.wrapper a {
  width: 100%;
  height: 100%;
}
.wrapper p {
  font-size: 32px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
}

.wrapper:hover p {
  color: #13828a;
}

.container {
  width: 100%;
  height: 100%;
  
}

.containerParagraph {
  width: 100%;
}

.photo {
  border-radius: 8px;
  height: 230px
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .wrapper p {
    font-size: 20px;
    font-weight: 600;
  }
}

@media screen and (max-width: 767px) {
  .wrapper p {
    font-size: 14px;
    font-weight: 400;
  }
  .wrapper {
    width: 100%;
    max-width: unset;
  }
}
