.container {
    padding-top: 32px;
    max-width: 1016px;
    width: 100%;
    background-color: #052224;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    border-top-right-radius: 200px;
    border-top-left-radius: 200px;
    padding-bottom: 32px;
}

.controls {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}


@media screen and (max-width: 768px) {
    .container {
        gap: 122px;
    }

    .controls {
        gap: 16px;
    }

    .container {
        padding-bottom: 16px;
    }
}