.desktopContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 704px;
  width: 100%;
}

.detailWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.navigationBar {
  max-width: 395px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .navigationBar {
    display: none;
  }

  .overviewWrapper {
    display: none;
  }
}
