.timeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
  margin-top: 12px;
}

.overview {
  border-bottom: 4px solid #13828a;
  width: fit-content;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  padding-bottom: 10px;
  cursor: pointer;
  margin-top: 24px;
}

.overview span {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
