// Main Container
.mainContainer {
    width: fit-content;
    display: flex;
    align-items: center;
}

// 

// Appearance
.onLoginIn {
    display: flex;
    padding: 15px 20px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px;
    background-color:rgb(56, 56, 56);
    color: rgba(255, 255, 255, 0.60);
    width: 400px;
    outline: none;
    border: 0px;
}

.onNavBar {
    display: flex;
    width: 394px;
    height: 40px;
    padding: 8px 271px 8px 33px;
    align-items: flex-start;
    gap: 16px;
    flex-shrink: 0;
    border-radius: 4px;
    background-color: #FFF;
    border: 0px;
    outline: none;
}

// 

// Input icon (If Appearance == onNavBar)
.searchIconState {
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-right: -30px;
    z-index: 1;
    cursor: pointer;
}

// 

// Placeholder position (If appearance == onNavBar)

.onNavBar::placeholder {
    transform: translateY(2.5px);
    color: #A79C9C;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}