.progressBar {
  display: flex;
  align-items: center;
  gap: 8px;
  max-width: 900px;
  width: 100%;
}

.progressBar input {
  width: 100%;
}

.ipadProgressBar {
  display: none;
}

.progressBar input {
  display: block;
}

.mobileProgress {
  display: none;
}

.ipadTime {
  display: none;
}

.ipadRange {
  display: none;
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 100%;
  justify-content: center;
  gap: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .progressIpad {
    width: 100%;
  }

  .ipadProgressBar {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .progressBar > input {
    display: none;
  }

  .progressBar {
    flex-direction: column;
    align-items: center;
  }

  .progressBar > p {
    display: none;
  }

  .ipadRange {
    display: block;
    width: 100%;
  }

  .ipadRange input {
    width: 100%;
  }

  .ipadProgress {
    display: flex;
    gap: 8px;
    max-width: 1000px;
    width: 100%;
  }

  .ipadTime {
    display: block;
    font-size: 14px;
  }

  .wrapper {
    display: flex;
    flex-direction: column-reverse;
    gap: 0;
  }
}

@media screen and (max-width: 767px) {
  .ipadProgress {
    display: none;
  }

  .progressBar > p {
    display: none;
  }

  .progressBar > input {
    display: none;
  }

  .mobileProgress img {
    display: flex;
  }

  .mobileProgress {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  .mobileTime {
    font-size: 14px;
  }

  .ipadTime {
    display: none;
  }
}
