.container {
  width: 100%;
  padding: 15px 0;
  background-color: #13828a;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  color: #fff;
}

.fill:hover:enabled {
  background-color: #1dc2ce;
}

.fill:active:enabled {
  background-color: #1dc2ce;
}

.fill:disabled {
  background-color: #8a9793;
  cursor: not-allowed;
}

.iconContainer {
  width: 100%;
  background-color: #13828a;
  border: none;
  cursor: pointer;
  padding-left: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
}

.iconContainer:active:enabled {
  background-color: #1dc2ce;
}

.iconContainer:hover:enabled {
  background-color: #1dc2ce;
}

.iconContainer:active:disabled {
  background-color: #8a9793;
  cursor: not-allowed;
}

.outline {
  background-color: #13828a4d;
  border: 1px solid #13828a;
  color: #13828a;
  cursor: pointer;
  padding: 4px 0;
}

.inline {
  padding: 10px;
  background-color: #13828a;
  border: none;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.little {
  background-color: #13828a;
  padding-top: 4px;
  padding-bottom: 4px;
}

.little:hover {
  background-color: #1dc2ce;
}

.delete {
  background-color: #ff4343;
  border-radius: 4px;
  border: none;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.transparent {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.more {
  background-color: #13828a;
  border: none;
  padding-top: 6px;
  padding-bottom: 6px;
  color: #fff;
}

.more:hover {
  background-color: #1dc2ce;
}

.more:active {
  background-color: #1dc2ce;
}

.cancel {
  background-color: #0c545a;
  padding: 15px 42px;
}
