.wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  max-width: 1224px;
  width: 100%;
  height: 100vh;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}

.container {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: end;
  height: 100%;
}

.arrow {
  position: absolute;
  top: 120px;
  right: 20px;
  background: #73737380;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
