$primaryColor: #052224;
$primaryHover: #13828a;
$primaryText: #ffffff;
$secondaryText: #121212;
$thirdText: #13828a;
$additionalBg: #ff4343;
$primaryLinear: linear-gradient(225deg, #052224 0%, #13828a 97.09%);
