$primaryColor: #052224;
$primaryHover: #13828A;
$primaryText: #FFFFFF;
$secondaryText: #121212;
$thirdText: #13828A;
$additionalBg: #FF4343;
$primaryLinear: linear-gradient(225deg, #052224 0%, #13828A 97.09%);