* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.children{
  width: 100%;
  background-image: url(/_next/static/media/background.e645a620.png);
  background-repeat: repeat;
  overflow-x: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}