* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.children {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url(../public/background.png);
  background-repeat: repeat;
}
