.wrapper {
  max-width: 1224px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    90deg,
    rgba(19, 130, 138, 0.1) 0%,
    rgba(5, 34, 36, 0.1) 100%
  );
  cursor: pointer;
  border-radius: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.containerWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.wrapper:hover {
  background: linear-gradient(
    90deg,
    rgba(19, 130, 138, 0.5) 0%,
    rgba(5, 34, 36, 0.5) 100%
  );
}

.wrapper:active {
  background: linear-gradient(90deg, #13828a 0%, #052224 100%);
}

.wrapper p {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
}

.container {
  font-size: 14px;
  font-weight: 400;
}

.wrapper p {
  font-size: 14px;
  font-weight: 400;
}

.wrapper {
  padding-left: 16px;
  padding-right: 16px;
}

.plus {
  background-image: url(../../../public/icons/plusicon.svg);
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
  background-size: contain;
}

.plus:hover {
  background-image: url(../../../public/icons/plusiconActive.svg);
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .wrapper p {
    font-size: 14px;
    font-weight: 500;
  }
  .container img {
    width: 24px;
    height: 24px;
  }
  .wrapper:hover {
    background: linear-gradient(
      90deg,
      rgba(19, 130, 138, 0.1) 0%,
      rgba(5, 34, 36, 0.1) 100%
    );
  }
  .wrapper:active {
    background: linear-gradient(
      90deg,
      rgba(19, 130, 138, 0.1) 0%,
      rgba(5, 34, 36, 0.1) 100%
    );
  }
}

@media screen and (max-width: 768px) {
  .wrapper p {
    font-size: 12px;
    font-weight: 400;
  }

  .container img {
    width: 16px;
    height: 16px;
  }
  .wrapper:hover {
    background: linear-gradient(
      90deg,
      rgba(19, 130, 138, 0.1) 0%,
      rgba(5, 34, 36, 0.1) 100%
    );
  }
  .wrapper:active {
    background: linear-gradient(
      90deg,
      rgba(19, 130, 138, 0.1) 0%,
      rgba(5, 34, 36, 0.1) 100%
    );
  }
}
