.wrapper {
  max-width: 200px;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 24px;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .wrapper {
    width: 140px;
  }
}
