.container {
  max-width: 288px;
  max-height: 304px;
  padding: 20px 32px 0;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(5, 34, 36, 0.1) 0%,
    rgba(19, 130, 138, 0.1) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border-radius: 12px;
}

.container:hover {
  background: linear-gradient(
    180deg,
    rgba(5, 34, 36, 0.5) 0%,
    rgba(19, 130, 138, 0.5) 100%
  );
}
.container:active {
  background: linear-gradient(180deg, #052224 0%, #13828a 100%);
}

.container img {
  border-radius: 6px;
  width: 100%;
  max-width: 224px;
  max-height: 220px;
  height: 100%;
}

.container span {
  font-size: 28px;
  font-weight: 600;
  color: #fff;
  padding-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (max-width: 1023px) {
  .container img {
    max-width: 150px;
    max-height: 120px;
  }
  .container {
    width: unset;
    padding: 20px 20px 0;
  }
  .container span {
    font-size: 16px;
    font-weight: 500;
  }
}
