.overview {
  border-bottom: 4px solid #13828a;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  padding-bottom: 10px;
  cursor: pointer;
  margin-top: 24px;
  display: flex;
  justify-content: start;
  width: fit-content;
}

.overview span {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}

.container {
  max-width: 1224px;
  width: 100%;
}
