.allTrack {
  width: 100%;
  max-width: 1274px;
  padding-right: 24px;
  padding-left: 24px;
  display: flex;
  align-items: center;
  margin-top: 28px;
}

.allTrack p {
  text-align: left;
  font-size: 32px;
  font-weight: 500;
  color: #fff;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .allTrack p {
    font-size: 28px;
  }
}

@media screen and (max-width: 768px) {
  .allTrack p {
    font-size: 20px;
  }
}
