.topMusicContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 24px;
}
.topMusicWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 90%;
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .topMusicWrapper {
    width: 95%;
  }
}
