.wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 100%;
  height: auto;
  aspect-ratio: 3 / 2;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
  padding-bottom: 24px;
  border-radius: 6px;
  cursor: pointer;
}

.wrapper:hover {
  color: #13828a;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.albumName {
  font-size: 26px;
}

.artistName {
  font-size: 22px;
}

.time {
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding-bottom: 12px;
  }
  .albumName {
    font-size: 16px;
  }

  .artistName {
    font-size: 12px;
  }

  .time {
    font-size: 10px;
  }
  .songCount {
    font-size: 12px;
  }
  .wrapper:hover {
    color: #fff;
  }
}

@media screen and (max-width: 430px) {
  .wrapper {
    aspect-ratio: unset;
  }
  .songCountContainer {
    margin-top: 4px;
  }
  .wrapper:hover {
    color: #fff;
  }
}
