.adjustButtons {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.adjustButton img {
  width: 28px;
  height: 28px;
}

.adjustButtons img {
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  .volumeButton {
    display: none;
  }
}
