.wrapper {
    width: 100%;
    background: linear-gradient(
      90deg,
      rgba(19, 130, 138, 0.1) 0%,
      rgba(5, 34, 36, 0.1) 100%
    );
    border-radius: 16px;
    padding: 10px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    cursor: pointer;
  }

  .popupWrapper {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 50%;
    top: 50%;
  }
  
  .wrapper:hover {
    background: linear-gradient(90deg, #13828a 0%, #052224 100%);
  }
  
  .mainWrapperOfButtonsAndModules {
    width: 100vw;
    height: 100vh;
    position: relative;
  }
  .container {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .musicInfo {
    display: flex;
    gap: 4px;
    flex-direction: column;
  }
  
  .musicImage img {
    border-radius: 50%;
  }
  
  .artistName {
    text-align: center;
  }
  
  .musicName {
    text-align: center;
  }
  
  .createTime {
    color: #ffffff80;
  }
  
  .musicName {
    font-size: 20px;
    font-weight: 400;
  }
  