.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1224px;
  margin-top: 32px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 96px;
}

.container {
  margin-top: 24px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
