.container {
  max-width: 220px;
  width: 100%;
  background-color: #2c2c2c;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

.active {
  background-color: #13828a;
  color: #fff;
}

.container span {
  font-weight: 600;
  font-size: 24px;
  color: #fff;
  text-align: center;
}

@media screen and (min-width: 786px) and (max-width: 1136px) {
  .container span {
    font-size: 18px;
  }
}

@media screen and (max-width: 785px) {
  .container span {
    font-size: 14px;
  }
}
