.navigationBar {
  max-width: 640px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  overflow: hidden;
}

.wrapper {
  width: 100%;
  background-image: url(../../public/background.png);
  background-repeat: repeat;
  overflow-x: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overview {
  border-bottom: 4px solid #13828a;
  width: fit-content;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  padding-bottom: 10px;
  cursor: pointer;
  margin-top: 24px;
}

.overview span {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}

.timeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
}

.artistCover {
  max-width: 628px;
  width: 100%;
  max-width: 660px;
  height: 100%;
  justify-self: flex-end;
}

.artistCover img {
  width: 100%;
  height: 100%;
}

.desktopArtistWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 36px;
  max-width: 1272px;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
}

.desktopContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1224px;
}

.button {
  width: 82px;
}

.albumRelase p {
  font-size: 32px;
  font-weight: 500;
  color: #fff;
}

.albumRelase {
  max-width: 1224px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.albumRelaseContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.detailWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.navigationBartwo {
  display: none;
}

.overviewContainer {
  display: none;
}

@media screen and (max-width: 768px) {
  .navigationBar {
    display: none;
  }

  .navigationBartwo {
    max-width: 640px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    overflow: hidden;
    margin-top: 36px;
  }

  .overviewContainer {
    display: block;
    max-width: 1272px;
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
  }

  .overviewWrapper {
    display: none;
  }
}

