.inputStyle {
    border: 0px;
    outline: none;
    color: #121212;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 393px;
    height: 40px;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #FFF;
}

.inputStyle::placeholder {
    font-weight: 500;
    font-style: normal;
    background: url("/searchIcon/search.svg") no-repeat left -3px center;
}
